.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  min-height: 100vh;
}
.trackWrapper {
  display: flex;
  width: 100%;
  min-height: 30rem;
  background-color: blue;
}
.sectionMarker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: lightblue;
  grid-column: 3 / 10;
  border: 1px grey solid;
}
.trackContainer {
  width: 100%;
  height: 5rem;
  background-color: beige;
  border: solid #f3f3f3 1px;
}
.gridContainer {
  display: flex;
  flex-direction: column;
}
.trackColumn {
  height: 100%;
  width: 10rem;
  display: flex;
  flex-direction: column;
}
.trackInfo {
  height: 5rem;
  background-color: black;
  color: white;
}

.selected {
  border: solid 1px white;
}

.gridCell {
  border-left: 1px solid lightgray;
}
.selectedGrid {
  border-left: 1px solid black;
}

.buttonControl {
  width: 2rem;
  border: none;
  color: var(--color-light);
  background-color: transparent;
}

.buttonControlSelected {
}
