.gridContainer {
  height: 50rem;
  width: 50rem;
  background-color: teal;
  position: absolute;
  z-index: 10;
  left: 50%;
}
.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gridRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.gridPoint {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}
.gridCell {
  width: 3rem;
  height: 5rem;
  border: 1px solid #ccc;
  position: relative;
}
.selected {
  position: absolute;
  height: 5rem;
  width: 3rem;
  background-color: aquamarine;
  z-index: 100;
  left: 0;
  cursor: pointer;
  pointer-events: all;
}

.start {
  border-radius: 1rem 0rem 0rem 1rem;
}
.green {
  width: 3.5rem;
}

.grey {
  background-color: gray;
}
.end {
  border-radius: 0rem 1rem 1rem 0rem;
}
.disabled {
}

.dragBox {
  height: 100%;
  width: 0.5rem;
  position: absolute;
  background-color: aqua;
  right: 0;
  cursor: w-resize;
  z-index: 10000;
}
.dragBoxLeft {
  height: 100%;
  width: 0.5rem;
  position: absolute;
  background-color: aqua;
  left: 0;
  cursor: e-resize;
  z-index: 10000;
}
